.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 120px;
  padding: 0.5rem;
  background-color: #11bbc7;
  font-size: 1rem;
  border-radius: 10%;
}

.event:hover {
  background: #24767c;
}

.event header, .event footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #3f0101;
}

.event header div {
  display: flex;
  flex-direction: column;
}

.event address span {
  padding-right: 0.3rem;
}

.event body {
  text-align: center;
  color: #fd0000a6;
}

.event body .title {
  text-align: center;
  display: inline;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .event {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .event {
    width: 450px;
    height: 100px;
    font-size: 0.8rem;
  }

  .event body .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .event {
    width: 250px;
    height: 100px;
    font-size: 0.6rem;
  }
}
