.sort {
  position: relative;
  top: 1.2rem;
  left: 4.5rem;
}

.sort input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.sort .label {
	position: relative;
	padding: 0 0 0 2rem;
	cursor: pointer;
}
.sort .label:before {
	content: '';
	position: absolute;
	left: 0.2rem;
	width: 1.2rem;
	height: 1.2rem;
	border: 0.1rem solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.label:after {
	content: '';
	position: absolute;
	top: 0.2rem;
	left: 0.4rem;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: rgb(132, 255, 0);
	box-shadow: inset 0 0.2rem 0.5rem #00000080;
	opacity: 0;
	transition: .2s;
}
.sort input:checked + .label:after {
	opacity: 1;
}
.sort input:focus + .label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.7);
}

@media screen and (max-width: 768px) {
  .sort {
    position: relative;
    top: 1rem;
    left: 1rem;
  }
}

